
body{
	background-color:#f6f6f6;
	display:flex;
	justify-content: center;
	align-items:center;
	height:100vh;
	gap:120px;
}
.left{
	width:450px;
	display:inline-block;
	margin-top:70px;
	
	img{
		width:600px
	}
}
.right{
	width:360px
}
form{
	display:flex;
	width:300px;
	background-color:white;
	padding:20px;
	border-radius:5px;
	box-shadow:0 0 10px #ccc;
	flex-direction:column;
	gap:10px
	
}
input{
	border:1px solid #ccc;
	border-radius:5px;
	padding:10px;
}
button{
  padding:12px;
  border:none;
  border-radius:5px;
  font-size:16px;
  cursor:pointer;
  width:100%;              /* ⭐ prevents overlap */
  display:block;           /* ⭐ prevents overlap */
}
.login{
	background-color:#1877f2;
	border-radius:5px;
	padding:10px 20px;
	color:white;
	 border:none;
}
a{
	text-decoration:none;
	color:#1877f2;
	text-align:center;
	display:block;

}
.signup{
	background-color:#42b72a;
	border-radius:5px;
	padding:10px 20px;
	color: white;
	 border:none;
}
